<!-- require File.expand_path(File.dirname(__FILE__) + '/jsontest/JsonHelper.rb') -->

<ul>
    <li>Hi, <%= @name %>!</li>
    <li>Please submit your message.</li>
    <form method="POST" action="/message">
        <input name="name" value=<%= @name %> hidden>
        <textarea type="text" name="context" value="" rows="10" cols="80"> </textarea><br>
        <input type="submit" value="submit">
    </form>
</ul>
<ul>
    <li>Messages :</li>
</ul>
<ul>
   <% for r in @raw do %> 
   <li><%= r[JSON_KeyWord.id]%>, <%= r[JSON_KeyWord.name]%>, <%= r[JSON_KeyWord.context]%>, <%= r[JSON_KeyWord.date]%></li>
   <% end %>
</ul>
